/* Universal Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #1a1a2e;
    line-height: 1.5;
    font-size: 1rem;
    transition: all 0.3s;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;  /* Ajout de la propriété position */
    z-index: 2;  /* Ajout d'un z-index plus élevé que le header */

}

header {
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    position: relative;  /* Ajout de la propriété position */
    z-index: 1;  /* Ajout d'un z-index inférieur à celui du body */
    top: 0;
}

.nav-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 0.3s;
    border-radius: 5px;
    font-weight: 500;
}

.nav-btn:hover {
    background-color: rgba(26, 26, 46, 0.1);
}

img {
    max-width: 100%;
}

.page-main-container {
    max-width: 900px;
    margin: 80px auto;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    transition: all 0.3s;
}

.page-main-container:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
}

.page-main h1, .page-main p {
    margin-bottom: 20px;
}

.key-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key-input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 5px;
    border: 2px solid #1a1a2e;
    color: #1a1a2e;
    margin-bottom: 20px;
    transition: border 0.3s;
}

.key-input:focus {
    border-color: #0d0d1a;
    outline: none;
}

.key-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #1a1a2e;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s;
    font-weight: 500;
}

.key-btn:hover {
    background-color: #0d0d1a;
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.key-btn:active {
    transform: translateY(0);
    box-shadow: none;
}
